# SQLAlchemy Homework

##### Author: Alex Sherman | alsherman@deloitte.com

In [1]:
from configparser import ConfigParser, ExtendedInterpolation
import pandas as pd
from sqlalchemy import Column, Text, Integer
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

In [2]:
# configuration to get the path of where to create the database
config = ConfigParser(interpolation=ExtendedInterpolation())
config.read('../../config.ini')
HW_DB_PATH = config['DATABASES']['HW_DB_PATH']
print(HW_DB_PATH)

In [3]:
# create a declarative base
# to inherit the functionality to create a database

#### Create a Documents table with the following information:

- TABLENAME = 'DOCUMENTS'
- document_id (Integer, primary_key)
- path = (Text)
- filename (Text)
- document_text = (Text)
- table_text = (Text)
- last_modified_by = (Text)
- author = (Text)
- created = (Text)
- revision = (Text)
- num_tables = (Text)

In [4]:
# provide a class name for the database table
class Documents(Base):
    # provide a __tablename__ (to query the table in SQL)

    
    # provide column names and data types
    # for each field in the database

#### Create a Sections table with the following information:

- TABLENAME = 'SECTIONS'
- section_id = (Integer, primary_key)
- filename = (Text)
- section_name = (Text)
- section_text = (Text)

In [5]:
class Sections(Base): 
    # provide a __tablename__ (to query the table in SQL)

    # provide column names and data types 
    # for each field in the database

##### Create Database

In [6]:
# create an engine to instantiate the database connection

# create all the tables in the database

##### create a session object to query database

In [7]:
# bind an engine to the sessionmaker and instantiate a Session()

### Populate the Documents table

In [18]:
# use the two example documents to load the Documents table
doc1 = {
      'completed_path':'path1'
    , 'filename':'filename1'
    , 'document_text':'document_text1'
    , 'table_text':'table_text1'
    , 'author':'author1'
    , 'last_modified_by':'last_modified_by1'
    , 'created':'created1'
    , 'revision':'revision1'
    , 'num_tables':'num_tables1'
}

doc2 = {
      'completed_path':'path2'
    , 'filename':'filename2'
    , 'document_text':'document_text2'
    , 'table_text':'table_text2'
    , 'author':'author2'
    , 'last_modified_by':'last_modified_by2'
    , 'created':'created2'
    , 'revision':'revision2'
    , 'num_tables':'num_tables2'
}

documents = [doc1, doc2]

In [19]:
# add records to the documents table

for document in documents:
    # populate the Documents record with all fields from the document examples
    doc = Documents(
        # e.g. path=document['completed_path']
        
    )
    # add the document to the session
    session.add(doc)

# commit (save) all documents to the database
session.commit()

In [20]:
# query database to check if data was added
pd.read_sql('SELECT * FROM Documents' , engine)

,document_id,path,filename,document_text,table_text,last_modified_by,author,created,last_printed,revision,num_tables
0,1,path1,filename1,document_text1,table_text1,last_modified_by1,author1,created1,None,revision1,num_tables1
1,2,path2,filename2,document_text2,table_text2,last_modified_by2,author2,created2,None,revision2,num_tables2

In [24]:
# Optional - Delete data from the Documents table.  This may be useful while testing the homework

### UNCOMMENT BELOW TO DELETE DOCUMENTS FROM DATABASE
# session.execute("DELETE FROM Documents")
# session.commit()

##### Sections

In [28]:
# create two section examples to load the sections table
sections = {
      'section_name1':'section_text1'
    , 'section_name2':'section_text2'
    , 'section_name3':'section_text3'
    , 'section_name4':'section_text4'
    , 'section_name5':'section_text5'
}

In [29]:
# insert each document section
#   NOTE: use sections.items to access the key, value pairs
#   from the sections dictionary
#   Example: https://www.tutorialspoint.com/python/dictionary_items.htm

# iterate through the sections dictionary
for section_name, section_text in sections.items():
    # create a section object
    section = 

    
    # add the section object to the session
    
# commit the session to save all sections to the database

In [32]:
# query database to check if data was added
pd.read_sql('SELECT * FROM Sections' , engine)

Empty DataFrame
Columns: [section_id, filename, section_name, section_text]
Index: []

In [31]:
# Optional - Delete data from the Sections table 
# This may be useful while testing the homework

### UNCOMMENT TO DELETE SECTIONS FROM DATABASE
# session.execute("DELETE FROM Sections")
# session.commit()